// Các biến dễ chỉnh
$mbc-primary: rgba(20, 30, 210, 0.18);
$mbc-primary-contrast: #ffffff;
$mcb-arrow-color: rgba(64, 86, 109, 1);

$mbc-accent: #ff6f61;
$mbc-warn: #d32f2f;

$mat-form-field-bg: #4088f3; // dùng cho appearance="fill"
$mat-form-field-outline: $mbc-primary;
$mat-form-field-outline-hover: $mbc-primary;
$mat-form-field-outline-label-focus: rgba(118, 142, 167, 1);
$mat-form-field-label: #475569;
$mat-form-field-placeholder: rgba(108, 132, 157, 0.32);
$mat-form-field-focus: $mbc-primary;
$mat-form-field-error: $mbc-warn;


$mat-form-field-border-radius: 8px;
$mat-form-field-padding-y: 0.5rem;
$mat-form-field-padding-x: 0.75rem;


$mat-form-field-height: 38px; // chiều cao mặc định
$mat-form-field-width: 100%;  // chiều rộng mặc định
