.otp-wrapper {
   padding: 22px 32px;
}

.otp-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    .otp-input {
        display: flex;
        justify-content: space-evenly;

        input {
            width: 42px;
            height: 60px;
            text-align: center;
            border: none;
            padding: auto;
            outline: 1px solid rgb(72, 95, 197);
            border-radius: 4px;

            &:hover , &:focus {
                outline-width: 1px;
                outline: 1.12px solid rgb(72, 95, 197);
                box-shadow: 0 0 12px rgb(72, 95, 197);
            }
        }
    }
}

// .pdf-card {
//   width: 400px;
//   padding: 12px;
//   background: #fff;
//   border-radius: 12px;
//   box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
// }

.pdf-card {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
  background: #ca5858;
  overflow: hidden;
}

.pdf-scroll {
  display: flex;
  flex-direction: column;
  gap: 12px;
  overflow-y: auto;
  padding: 8px;
}

.pdf-page {
  display: block;
  margin: 0 auto 12px;
}