
::ng-deep .custom-large-field {

  .label-field {
      top: 25px;
      position: absolute;
      color:  rgba(118, 142, 167, 1);
      font-size: 14px;
  }

  // Tăng chiều cao form-field
  .mat-mdc-text-field-wrapper {
    height: 80px !important;
  }

  // Khu vực chứa input/select
  .mat-mdc-form-field-infix {
    height: 72px;
    display: flex;
    align-items: center;
  }

  .mat-mdc-select-arrow-wrapper {
    align-items: start;
  }

  // Tăng chiều cao trigger của select
  .mat-mdc-select-trigger {
    padding-top: 30px; // để nhường chỗ cho label
    height: 72px;
    display: flex;
    align-items: center;
  }
}