<form [formGroup]="form">
  <div style="margin-top: 30px; margin-left: 50px; width: 700px;">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Yeah</mat-label>
      <input matInput type="text" formControlName="inputDemo">
      <mat-error>Lỗi</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Cars</mat-label>
      <mat-select formControlName="selectDemo" >
        <mat-option *ngFor="let item of foods" [value]="item.value" >
          {{ item.viewValue }} 
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="custom-large-field">
    <mat-form-field appearance="outline" style="width: 100%;" >
      <label class="label-field">currency</label>
      <mat-select panelClass="my-select-panel" placeholder="Choose item...">
        <span>Choose balance</span>
        <mat-option *ngFor="let item of accounts" [value]="item">
          <div class="acc-item">
            <div class="acc-title">{{ item.number }}</div>
            <div class="acc-sub">{{ item.balance | number }} {{ item.currency }}</div>
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</form>