@use '@angular/material' as mat;
@use 'styles/core/_material-theme';

:root {
    --mat-sys-secondary-container: rgba(248, 250, 252, 1);
    --mat-sys-on-secondary-container: rgba(25, 40, 57, 1);
    --mat-sys-on-surface: rgba(25, 40, 57, 1);      // font chá»¯ options mat-select
    --mat-sys-on-surface-variant: rgba(25, 40, 57, 1);
}